#search_div {
    display: flex;
    justify-content: center;
}
#input_div {
    width: 200px;
    height: 20px;
    border: 1px solid gray;
    border-radius: 5px;
}
#comics_div {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-gap: 5%;
}